 @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Poppins:ital,wght@0,200;0,300;0,600;1,200;1,300;1,600&display=swap');
 
 *{
 	margin: 0;
 	padding: 0;
 	box-sizing: border-box;
 	font-family: 'Montserrat', sans-serif;
 }
body{
 	background-color: #fff;
 	height: 100vh;
}

/*MENU LATERAL*/
nav.menu-lateral{
 	position: fixed;
 	top: 0;
 	left: 0;
 	box-shadow: 4px 0px 0px #ff0f0f; /*horizontal vertical espalhamento*/
 	width: 260px;
 	height: 100%;
 	background-color: #202020;
 	padding: 40px 0 40px 0%;
 	transition: .2s;
}
ul{
	height: 100%;
	list-style-type: none;
}
ul{
	margin-left: 13px;
}
ul li.item-menu a{
	overflow: hidden;
	color: #fff;
	text-decoration: none;
	font-size: 20px;
	padding: 20px 4%;
	display :flex;
	margin-bottom: 20px;
	line-height: 30px;
}
ul li.item-menu a .txt-link{
	margin-left: 35px;
}
ul li.item-menu a .icon > i{
	font-size: 22px;
}
ul li.item-menu{
	transition: .4s;
}
.home-ativo{
	background-color: #ff0f0f;
	border-radius: 5px 0px 0px 5px;
	width: 100%;

}
ul li.item-menu:hover{
	background: #ff0f0f; 
	border-radius: 5px 0px 0px 5px;
}
h1{
	font-size: 28px;
}
/*FIM DO MENU LATERAL*/


/*CONTEUDO PRINCIPAL*/
	.interface{
		margin: 0 auto;
		max-width: 1150px;
	}
	.flex{
		display: flex;
		justify-content: center;
		align-items: center;

	}
	section.hora p{
            font-size: 15px;
        }
        section.hora .btn-confirma{
            display: flex;
            justify-content: space-between;
            width: 23%;
        }
        section.hora i{
            color: #fff;
            font-size: 22px;
        }
	section.agenda .flex{
		max-width: 1050px;
		padding-left: 12%;
	}
	section{
		padding: 30px 0px 0px 15%;
	}
	h3{
		font-size: 20px;
		line-height: 25px;
		font-weight: 400;
	}
	a{
		text-decoration: none;
		color: #000;
		cursor: pointer;
	}
	section.hora .btn-confirma button, .btn-tempo button{
		border-radius: 5px;
		width: 60px;
		height: 50px;
		cursor: pointer;
		border: none;
		font-size: 22px;
		transition: .3s;
		padding: 2%;
	}
	section.hora button.confirma{		
		margin-bottom: 5%;
		color: #fff;
		background-color: #0077b6;
	}
	section.hora button.confirma:hover{
		background-color: #023e8a;
	}
	section.hora button.rejeita:hover{
		background-color: #810000;
	}
	section.hora button.rejeita {
		color: #fff;
		background-color: #d13535;
	}
	.btn-tempo button{
		background-color: #fff;
	}
	.btn-tempo i{
		color: #ffae00;
		font-size: 36px;
	}
	.btn-tempo .urgente i{
		font-size: 40px;
		color: #ff0f0f;
	}
	.line{
		border-bottom: 1px solid #00000050;
		margin: 10px;
		margin-bottom: 5%;
	}
/*INICIO DOS CARDS*/
	.flex-card{
		justify-content: space-around;
		flex-wrap: wrap;
		display: flex;
		gap: 10px;
	}
	.card-group{
		margin-top: 5%;
		max-width: 65%;
		min-height: 500px;
	}
	.group-desativado{
		padding-left: 10%;
		max-width: 1050px;
		gap: 30px;
		display: flex;
	}
	.flex-card .card-desativado{
		background-color: #e0e0e088;
		cursor: no-drop;
	}
	.card-desativado{
		margin-bottom: 2%;
		padding: 3%;
		width: 100%;
		height: 100%;
		border-radius: 8px;
		box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.2);
		background-color: #e0e0e03b;
	}
	.card-hora{
		text-align: start;
		display: flex;
		align-items: center;
		gap: 10px;
		justify-content: space-between;
		padding: 3%;
		font-size: 25;
		margin-bottom: 5%;
		width: 600px;
		height: 150px;
		border-radius: 8px;
		box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.2);
		background-color: #fff;
	}
	.card{
		transition: .3s;
		display: flex;
		align-items: center;
		gap: 10px;
		justify-content: center;
		flex-direction: column;
		text-align: center;
		margin-bottom: 5%;
		width: 180px;
		height: 150px;
		border-radius: 8px;
		box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.2);
		background-color: #fff;
	}
	.card-ativado:hover{
		box-shadow: 2px 3px 10px 2px rgba(0, 0, 0, 0.3);
	}
	.card i{
		font-size: 36px;
		color: #ff0f0f;
	}
	.card-desativado h3{
		font-weight: 500;
	}
    strong.status{
            color: #0077b6;
	}

/*FIM DOS CARDS*/

/*MODAL*/

		/* The Modal (background) */
		.modal {
		  display: none; /* Hidden by default */
		  position: fixed; /* Stay in place */
		  z-index: 1; /* Sit on top */
		  padding-top: 100px; /* Location of the box */
		  left: 0;
		  top: 0;
		  width: 100%; /* Full width */
		  height: 100%; /* Full height */
		  overflow: auto; /* Enable scroll if needed */
		  background-color: rgb(0,0,0); /* Fallback color */
		  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
		}

		/* Modal Content */
		.modal-content {
		border-radius:10px;
		position: relative;
		background-color: #fefefe;
		margin: auto;
		padding: 0;
		border: 0;
		width: 35%;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
		-webkit-animation-name: animatetop;
		-webkit-animation-duration: 0.4s;
		animation-name: animatetop;
		animation-duration: 0.4s;
		}

		/* Add Animation */
		@-webkit-keyframes animatetop {
		  from {top:-300px; opacity:0} 
		  to {top:0; opacity:1}
		}

		@keyframes animatetop {
		  from {top:-300px; opacity:0}
		  to {top:0; opacity:1}
		}

		/* The Close Button */
		.close {
		margin-top: -7px;
		transition: .3s;
		color: white;
		float: right;
		font-size: 35px;
		font-weight: 400;
		}

		.close:hover,
		.close:focus {
		  text-decoration: none;
		  cursor: pointer;
		}

		.modal-header {
		border-radius:10px 10px 0px 0px;
		  padding: 16px 16px;
		  background-color: #023047;
		  color: white;
		}

		.modal-body {
			text-align:center;
		    padding: 15px 16px;
		    font-size: 18px;
		}

		.modal-footer {
		  padding: 2px 16px;
		  color: white;
		}
		.modal .btn-confirma{
			gap:20px;
			display: flex;
			justify-content: center;
			width: 100%;
		}

		.btn-confirma button{
		  border-radius: 5px;
		  width: 60px;
		  height: 50px;
		  cursor: pointer;
		  border: none;
		  font-size: 22px;
		  transition: .3s;
		  padding: 2%;
		  }
		.modal button.confirma{		
		   margin-bottom: 5%;
		   color: #fff;
		   background-color: #0077b6;
		}
		.modal button.confirma:hover{
		   background-color: #023e8a;
		}
		.modal button.rejeita:hover{
		   background-color: #810000;
		}
		.modal button.rejeita {
		color: #fff;
		   background-color: #d13535;
		}
		/*FIM DO MODAL*/

@media screen and (max-width: 1050px){
	nav.menu-lateral{
 	width: 70px;
 	height: 100%;
}
	nav.menu-lateral:hover{
		width: 300px;
	}
	ul li.item-menu a .txt-link{
		display: block;
	}
	section.hora .flex, section.agenda .flex{
		justify-content: flex-end ;
	}
	section{
		padding: 15px 1%;
	}
}
@media screen and (max-width:690px){
	nav.menu-lateral{
		width: 70px;
	}
	nav.menu-lateral:hover{
		width: 210px;
	}
	ul li.item-menu a .txt-link{
		display: block;
	}
	section.agenda .card-desativado{
		width: 80%;
	}
	.hora-group{
		max-width: 75%;
		margin: 0;
		padding: 0px 0%;
	}
	.card-hora{
		gap: 20px;
		width: 100%;
		height: 100%;
		padding: 5%;
	}
	.card-hora p, strong{
		font-size: 12px;
	}
	.btn-confirma button{
		width: 35px;
		height: 30px;
	}
	h1{
		font-size: 15px;
	}
}